<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><%=t :app_name %></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= current_user.try(:name) %></a>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link'  if current_user %>
        <%= link_to "Login", user_session_path, class: 'nav-link'  unless current_user %>
      </li>
    </ul>
  </div>
</nav>