<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is the rails kick start project.</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <%= link_to "Click here to start", new_user_registration_path, class: 'btn btn-primary btn-lg', role: 'button' %>
  </p>
</div>