<div class="row">
  <div class="col-4">
    <div class="list-group" id="myList" role="tablist" >
      <% @chats.each do |chat| %>
        <a class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="list" href="<%= chat_path(chat) %>" role="tab" >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= chat.user_to.name %></h5>
            <small><%= distance_of_time_in_words(chat.created_at, Time.now) %></small>
          </div>
          <p class="mb-1"><%= chat.msg %></p>
        </a>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content">
      <div class="tab-pane fade" id="chat-contents" role="tabpanel"></div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#myList a[data-toggle="list"]').on('show.bs.tab', function (e) {

    console.log(this);
    e.target // newly activated tab
    console.log(e.relatedTarget) // previous active tab
    e.preventDefault();
  });
</script>