<%= simple_form_for(@apartment, html:{enctype: 'multipart/form-data'}) do |f| %>
  <div class="row justify-content-center">
    <%= f.error_notification %>
  </div>
  <div class="form-inputs">
    <div class="form-group">
      <input class="form-control string optional" error_class="form-control-danger" id="fileupload" type="file" name="files[]" multiple>
    </div>
  </div>
<% end %>
<div class="uploaded-files">
  <ul>
  </ul>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
</div>
<div class="row"><hr></div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#fileupload').fileupload({
      dataType: 'json',
      maxChunkSize: 500000,
      start: function(e, data) {
        $("#file-list-wapper").append("<%= escape_javascript(render partial: 'progress_file')%>");
      },
      add: function (e, data) {
        data.submit();
      },
      done: function (e, data) {
        console.log(data);
        $('.uploaded-files ul').append('<li class="file">'+data.result.name+'</li>');
      },
      fail: function (e, data) {
        console.log("fail");
      },
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('.progress .progress-bar').css('width', progress+'%');
        $('.progress .progress-bar').text(progress+'%');
    },
    progressServerRate: 0.3,
    progressServerDecayExp: 2
    })
    .on('fileuploadchunksend', function (e, data) { 
      console.log(data);
      console.log('fileuploadchunksend')})
    .on('fileuploadchunkdone', function (e, data) {
      console.log(data);
      console.log('fileuploadchunkdone');
    })
    .on('fileuploadchunkfail', function (e, data) {
      console.log(data);
      console.log('fileuploadchunkfail');
    })
    .on('fileuploadchunkalways', function (e, data) {
      console.log(data);
      console.log('fileuploadchunkalways');
    });
  });
</script>

<style type="text/css">
#dropzone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
#dropzone.in {
  width: 600px;
  height: 200px;
  line-height: 200px;
  font-size: larger;
}
#dropzone.hover {
  background: lawngreen;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
</style>